<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to home page</h1>
    {% if user.is_authenticated %}
    <h3> Haii Mr. {{user.username}} </h3>
    <h4><a href="{% url 'demo1:logout' %}"><button>logout</button></a></h4>

    {%else%}
    <h3> you are not logged in </h3>
    <h4><a href="{% url 'demo1:loginview' %}"><button>login</button></a></h4>

    {% endif %}


</body>
</html>